.app {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.checkbox {
    width: fit-content;
}

input {
    margin: 10px;
}

button {
    padding: 8px;
    background-color: green;
    color: white;
    border: none;
}